/* Write your custom CSS here */

.slimscroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-list {
    overflow-x: hidden;
    overflow-y: auto;
}

.thumbnail {
    height: 50px;
    border: 0px;
    border-radius: 5px;
    margin: 10px 0px 15px 0px;
    padding: 0px;
}

.img-circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.about-image {
    border: 0px;
    border-radius: 5px;
    margin: 10px 0px 15px 0px;
    padding: 0px;
    display: block;
    margin: 0 auto;
}

.reader-image {
    border: 0px;
    border-radius: 5px;
    margin: 10px 0px 15px 0px;
    padding: 0px;
    display: block;
    margin: 0 auto;
}

.book-detail-thumbnail {
    border: 0px;
    border-radius: 2px;
    margin: 0px 4px 15px;
    padding: 0px;
}

@media (max-width: 388px) {
    .book-detail-thumbnail {
        width: 64px;
    }

    .reader-image {
        width: 200px;
    }

    .about-image {
        width: 200px;
    }
}

@media (min-width: 388px) {
    .book-detail-thumbnail {
        width: 64px;
    }

    .reader-image {
        width: 240px;
    }

    .about-image {
        width: 240px;
    }
}

@media (min-width: 430px) {
    .book-detail-thumbnail {
        width: 70px;
    }

    .reader-image {
        width: 290px;
    }

    .about-image {
        width: 290px;
    }
}

@media (min-width: 490px) {
    .book-detail-thumbnail {
        width: 74px;
    }

    .reader-image, .about-image {
        width: 320px;
    }
}

@media (min-width: 545px) {
    .book-detail-thumbnail {
        width: 84px;
    }

    .reader-image, .about-image {
        width: 370px;
    }
}

@media (min-width: 645px) {
    .book-detail-thumbnail {
        width: 84px;
    }

    .reader-image, .about-image {
        width: 440px;
    }
}

@media (min-width: 768px) {
    .book-detail-thumbnail {
        width: 140px;
    }

    .reader-image {
        width: 220px;
    }

    .about-image {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .book-detail-thumbnail {
        width: 180px;
    }

    .reader-image {
        width: 170px;
    }

    .about-image {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .book-detail-thumbnail {
        width: 240px;
    }

    .reader-image {
        width: 260px;
    }

    .about-image {
        width: 620px;
    }
}


#src0, #src1, #src2, #src3, #src4,
#edit_src0, #edit_src1, #edit_src2, #edit_src3, #edit_src4,
#fileInput, #edit_fileInput, #edit_reader_src, #edit_reader_image {
    display: none;
}

.remove {
    vertical-align: top;
    color: #4F5862;
    opacity: 0.6;
    margin: 0px 6px 0px 0px;
    height: 255px;
}

.select-images {
    display: inline-block;
    align-self: center;
}

.edit-btn {
    margin-top: 10px;
}

.center-btn {
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-img {
    position: absolute;
    left: 50%;
}

.nowrap {
    white-space: nowrap;
    text-align: center;
}

.margin-3px {
    margin: 3px;
}

.panel-default {
    border-color: #75ce66;
}

.right {
    float: right;
    text-align: right;
}

.center-arrows {
    text-align: center;
}

.image-arrow {
    padding-left: 10px;
    padding-right: 10px;
}

.big_image_container {
    display: flex;
    justify-content: center;
}

.big_image {
    display: block;
}


@media (max-width: 400px) {
    .big_image {
        max-width: 220px;
        max-height: 200px;
    }
}

@media (max-width: 600px) {
    #toggle-fullscreen {
        display: none;
    }
}

@media (min-width: 400px) {
    .big_image {
        max-width: 360px;
        max-height: 300px;
    }
}

@media (min-width: 600px) {
    .big_image {
        max-width: 520px;
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .big_image {
        max-width: 560px;
        max-height: 500px;
    }
}

@media (min-width: 992px) {
    .big_image {
        max-width: 700px;
        max-height: 550px;
    }
}

@media (min-width: 1200px) {
    .big_image {
        max-width: 800px;
        max-height: 600px;
    }
}

.no-link {
    cursor: default
}

.to-the-right {
    padding-left: 25px;
}

.blue {
    color: #0070E0;
}

.blue:hover {
    color: #0070E0;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
    margin-top: -28px;
}

.navbar-right ~ .navbar-right {
    margin-right: 0;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: 0;
    }
}
