/* Write your custom CSS here */

.slimscroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-list {
    overflow-x: hidden;
    overflow-y: auto;
}

.thumbnail {
    height: 76px;
    border: 0px;
    border-radius: 5px;
    margin: 10px 0px 15px 0px;
    padding: 0px;
}

.book-detail-thumbnail {
    height: 80px;
    border: 0px;
    border-radius: 2px;
    margin: 4px;
    padding: 0px;
}

#src0, #src1, #src2, #src3, #src4,
#edit_src0, #edit_src1, #edit_src2, #edit_src3, #edit_src4,
#fileInput, #edit_fileInput {
    display: none;
}

.remove {
    vertical-align: top;
    color: #4F5862;
    opacity: 0.6;
    margin: 0px 6px 0px 0px;
    height: 255px;
}

.select-images {
    display: inline-block;
    align-self: center;
}

.edit-btn {
    margin-top: 10px;
}

.center-btn {
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nowrap {
    white-space: nowrap;
}

.margin-left-5px {
    margin-left: 5px;
}

.panel-default {
    border-color: #75ce66;
}
