body {
    font-family: 'Segoe UI';
    font-size: 12pt;
}

header h1 {
    font-size: 12pt;
    color: #fff;
    background-color: #1BA1E2;
    padding: 20px;

}

article {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}


.thumbnail {
    height: 120px;
    /*max-height: 200px;*/
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
}

#clear {
    display: none;
}

#result {
    border: 4px dotted #cccccc;
    display: none;
    float: right;
    margin: 0 auto;
    width: 511px;
}

#src1, #src2, #src3, #src4, #src0 {
    display: none;
}

.remove {
    vertical-align: top;
    color: #4F5862;
    opacity: 0.6;
    /*font-size: 16px;*/
    padding-right: 20px;
    height: 255px;
}

.page-right-sidebar .right-sidebar-close:hover {
    background: transparent;
    opacity: 1;
}

.icon-close:before {
    content: "\e082";
}
